/* general */
body{
    margin: 0;
}

#container{
    margin-left: 10px;
    margin-right: 10px;
}

/* header */
header{
    background-color: hwb(197 47% 3%);
    height: 100px; 
}

#logo{
    height: 40%;
    margin-top: 35px;
    margin-left: 10px;
}

/* title and image */
#title{
    margin-bottom: 0;
}

#subtitle{
    margin-top: 0;
    color: rgb(129, 129, 129);
    font-size: small;
}

#author{
    color: hwb(219 13% 0%);
}

#caption{
    font-size: x-small;
    margin-top: 0;
}

/* first section */
.text-first-section{
    margin-top: 20px;
    margin-bottom: 20px;
}

#highlighted{
    background-color: yellow;
}

/* second section */
#second-section{
    margin-bottom: 20px;
}

.text-second-section{
    margin: 0;
}

/* third section */
table{
    margin-bottom: 30px;
}

thead{
    background-color: hwb(219 46% 4%);
    color: white;
}

.row-grey{
    background-color: rgb(186, 193, 197);
}

.third-column{
    width: 50%;
}